
<div class="wrapper gradient wrapper-home">
	<div class="wrapper__header">
		<a href="http://www.leparisienmagazine.fr" target="_blank"><img src="/app/images/logo-lpm-hp.png" alt="Le parisien magazine" /></a>
	</div><!-- .wrapper__header -->
	<div class="main" role="main">
		<div class="sidebar">
			<div class="sidebar__character">
				<img src="/app/images/profile-ah.png?CACHE_BUST" alt="" />
			</div><!-- .sidebar__character -->
		</div><!-- .left-sidebar -->
		<div class="content">
			<p class="content__tagline">
				<img src="/app/images/main-hp.png?CACHE_BUST" alt="Test municipales - Pour qui allez-vous voter ?" />
			</p>
			<p class="aligncenter bt-item">
				<a href="/app/quizz">Jouer</a>
			</p>
		</div><!-- .content -->
		<div class="sidebar">
			<div class="sidebar__character">
				<img src="/app/images/profile-nkm.png?CACHE_BUST" alt="" />
			</div><!-- .sidebar__character -->
		</div><!-- .right-sidebar -->
	</div><!-- .main -->

	<footer class="footer">
		&nbsp;
	</footer><!-- .footer -->
</div><!-- .wrapper -->
